<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Practica de Laboratorio</title>
    <link rel="icon" href="favicon.ico">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        .buttonMenu{
            background: #169BD5;
            color: white;
        }
        .buttonMenu:hover {
            background: transparent;
            color: white;
        }
        .buttonMenu p{
            color: #BBF4F9;
        }
        .buttonMenu:hover p{
            color: white;
        }
     </style>
</head>
<body>
{% csrf_token %}
{% if mensaje %}
    <script>
        alert('{{mensaje}}');
    </script>
{% endif %}
<div style="width: 100%; height: 100px;" id="barra_de_logo">
    <div style="width: 180px; height: 100%; margin-left: 15%; float: left" id="logo">
        <img src="img/logoEAFIT.jpg">
    </div>
    <div style="width: 250px; height: 100%; margin-left: 33%; float: left" id="usuario">
        <h6 style="margin-top: 17%; text-align: right; font-family:Arial; font-size: 20px">{{estudiante}}</h6>
    </div>
    <div style="width: 180px; height: 100%; margin-right: 15%; float: right" id="salir">
        <button type="button" class="btn btn-default" onclick ="location.href='{% url 'log' %}'" style="border: solid 1px; margin-top: 18%; width: 150px">Salir</button>
    </div>
</div>
<div style="width: 100%; height: 100px; float: left; background: #000066" id="nombre_software">
    <h6 style="font-family: Arial; color: white; margin-left: 15%; margin-top: 30px; font-size:40px">Grupo: {{grupo}} Practica: {{practica}}, Cantidad de Experimentos: {{experimentos}}</h6>
</div>
<br>
<br><br><br><br>
<h6 style="font-family: Arial; color: #00C1FF; font-size:30px" class="card-title text-center">Tabla de Experimentos realizados</h6>
<div style="margin-left: 20%; margin-right: 20%">
     <br>
    <table class="table table-bordered table-striped" style="text-align: center;">
        <thead>
            <tr>
                {% for campo in arregloCampos %}
                    <th><p>{{campo}}</p></th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for experimentoRealizado in arregloExperimentos %}
                <tr>
                    {% for dato in experimentoRealizado %}
                        <th><p>{{dato}}</p></th>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div style="width: 700px; height: 200px; margin-left: auto; margin-right: auto;">
    <br>
    <h6 style="font-family: Arial; color: #00C1FF; font-size:30px" class="card-title text-center">Añadir Nuevo Experimento</h6>
    <form action="/agregarExperimento/?practica={{practica}}&estudiante={{estudiante}}&experimentos={{experimentos}}&grupo={{grupo}}" method="POST">
        {% csrf_token %}
        {% for campo in arregloCampos%}
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label style="font-family: Arial; color: #000000; font-size:15px; text-align: center">{{campo}}</label>
                    <input type="text" name="{{campo}}" class="form-control" required>
                </div>
            </div>
        {% endfor %}
        <div class="form-row">
            <div class="form-group col-md-12">
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Agregar Experimento</button>
            </div>
        </div>
    </form>
    <form action="/terminarPractica/?practica={{practica}}&estudiante={{estudiante}}&grupo={{grupo}}" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-12">
                <button class="btn btn-lg btn-danger btn-block text-uppercase" type="submit">Terminar Practica</button>
            </div>
        </div>
    </form>
</div>

<br>
<br>
</body>
