<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seleccion Practica</title>
    <link rel="icon" href="favicon.ico">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
{% csrf_token %}
<body>

    {% csrf_token %}
    {% if messg %}
        <script>
            alert('{{messg}}');
        </script>
    {% endif %}
<body>
    <h2 style="text-align: center">Grafica {{grafica}}</h2>
    <img src="/graficosRealizados?datos={{datos}}&arregloTiempos={{arregloTiempos}}&grafica={{grafica}}" width="1000px" style="display:block; margin:auto;"/>
</body>
</body>
</html>